---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -hicpp-uppercase-literal-suffix,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -modernize-use-ranges,
        -boost-use-ranges,
        -readability-container-data-pointer,
        -bugprone-easily-swappable-parameters,
        -readability-function-cognitive-complexity,
        -modernize-use-nullptr,
        -hicpp-use-nullptr,
"
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
